.containerForm {
  &.activeLeft {
    transform: rotateY(-180deg);
    display: block;

    .backRight {
      display: none !important;
    }

    & > .front {
      max-height: 300px;
      min-height: 300px;
      margin-bottom: 0;
      transition: $transicion600ms;
    }
  }

  .backLeft {
    backface-visibility: hidden;
    background-size: cover;
    position: absolute;
    top: 0;
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px transparent;

    transform: rotateY(-180deg);
    z-index: 10;

    max-height: 300px;
    min-height: 300px;

    .containerInput {
      padding-right: 0;

      grid-template-columns: 2fr 11fr 2fr;
    }

    .buttonBack {
      position: relative;

      justify-content: flex-start;
      margin: 0;

      a {
        align-items: center;
        background-color: transparent;
        border-radius: 100%;
        display: flex;
        height: 30px;
        justify-content: center;
        position: absolute;
        width: 30px;

        &.animationCircle.active:before {
          transform: none;
        }
      }
    }
  }
}

.formGroupSesion {
  hr {
    border: 1px solid transparent !important;

    &.titleHr {
      background-color: $colorFormButton;
      border: none !important;
      border-left: 9px solid #fff !important;
      border-right: 9px solid #fff !important;

      border-radius: 4px;
      height: 4px;
      margin: 0px auto 30px;
      width: 48px;
    }
  }

  .submitEmail {
    align-items: center;
    background-color: $colorFormButton !important;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    .ico {
      color: #fff;
    }
  }
}

.animationCircle {
  .ico {
    color: #fff;
    text-shadow: none;
  }

  &.active:before {
    animation: circle 0.6s 0.6s forwards;
    border: 4px solid transparent;
    border-radius: 50%;
    content: "";
    height: 24px;

    transform: translate(-50%, -50%);
    width: 24px;
    position: absolute;
  }
}

@keyframes circle {
  /* $colorFormButton: #d740da; */
  0% {
    border-color: transparent;
    transform: rotate(0deg);
  }

  25% {
    border-color: transparent $colorFormButton transparent transparent;
  }

  50% {
    border-color: transparent $colorFormButton $colorFormButton transparent;
  }

  75% {
    border-color: transparent $colorFormButton $colorFormButton $colorFormButton;
  }
  100% {
    border-color: $colorFormButton;
    transform: rotate(-700deg);
  }
}
