.cuenta-regresiva {
  padding: 20px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  h2 {
    text-align: center;
    margin: 32px 0 42px 0;
    font-size: 50px;
  }

  video#cuentaRegresivaVideo {
    width: 1280px;
    border-radius: 15px;

    border: 2px solid rgba(0, 0, 0, 0);

    background-image: linear-gradient(rgb(17, 17, 17), rgb(17, 17, 17)),
      linear-gradient(
        rgb(24 55 109),
        rgb(85 25 254),
        rgb(0, 176, 144),
        rgb(66, 133, 244)
      );
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}
