.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
  /*  */

  .background {
    img {
      width: 101%;
      left: -1%;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    place-items: center;

    .containerForm {
      margin-top: 30vh;
      transition: $transicion600msLineal;

      &.activeRight {
        margin-top: 15vh;
      }

      .backRight {
        max-height: 720px;
        min-height: 720px;
      }
    }
  }
}
