.page404 {
  display: grid;
  place-content: center;
  place-items: center;

  button {
    align-self: flex-start;
    width: 100%;
    border: 1px solid #fff;

    color: #fff;
    text-align: center;

    align-self: center;

    border-radius: 15px;

    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;

    @include layoutColor(130%, 0.9);
  }
}
