.new-password {
  main {
    align-items: center;

    min-height: 100vh;
    min-height: 100dvh;

    .newPass {
      $tamano: 330px;
      min-height: $tamano;
      mmax-height: $tamano;

      padding-bottom: 0;
      padding-top: 15px;
    }
  }
}
