* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Lato;
}

header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: #5331d9;

  nav {
    /*   display: flex;
    justify-content: flex-end; */
    width: 100%;
    display: flex;
    justify-content: end;

    ul {
      gap: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 90px;

      li {
        list-style: none;

        a {
          color: #fff;
          text-decoration: none;

          background-color: transparent;
          border: none;
          color: #fff;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 1px;
          outline: 0 !important;
          text-decoration: none;
          text-transform: uppercase;
        }
        &:last-child {
          margin-right: 30px;
        }
      }
    }
  }

  .logo {
    @include center();
  }
}

.home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;

  .background {
    height: inherit;
  }

  .iniciar-juego {
    position: absolute;
    bottom: 7vh;
    a {
      text-decoration: none;
      button {
        overflow: hidden;
        width: 180px;
        height: 50px;
        position: relative;
        background: none;
        border: transparent;
        background-color: rgba(#5605ee, 0.7);

        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        outline: 0 !important;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
